@import "@styles/variables.scss";
@import "@styles/mixins.scss";

.card {
    display: flex;
    justify-content: center;
    width: 86vw;
    height: 41vw;
    margin: 100px 0 50px 100px;

    &__info-about-card {
        margin-top: 32px;
        margin-left: 50px;
        display: flex;
        flex-direction: column;

        & .info-about-card__title {
            @include fontInfo(700);
            font-size: 3vw;
            line-height: 130%;
            color: $secondary-color;
            text-align: left;
            margin-bottom: 20px;
        }

        & .info-about-card__subtitle {
            @include fontInfo(500);
            font-size: 18px;
            line-height: 180%;
            width: 41vw;
            color: $grey-color;
            text-align: left;
            margin-bottom: 9vw;
        }

        & .info-about-card__price {
            @include fontInfo(700);
            font-size: 3vw;
            line-height: 130%;
            color: $secondary-color;
            text-align: left;
            margin-bottom: 3.5vw;
        }
    }
}

.buttons {
    display: flex;
    gap: 20px;
}

@media (max-width: 1000px) {
    .card {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 90vw;
        height: 600px;
        margin: 50px 20px;
        margin-right: 10px;
        padding: 50px 0;

        &__info-about-card {
            margin-top: 30px;
            margin-left: 0;
            display: flex;
            flex-direction: column;

            & .info-about-card__title {
                @include fontInfo(700);
                font-size: 24px;
                width: 326px;
                line-height: 31px;
                color: $secondary-color;
                text-align: left;
                margin-bottom: 20px;
            }

            & .info-about-card__subtitle {
                @include fontInfo(500);
                font-size: 14px;
                line-height: 25px;
                color: $grey-color;
                width: 326px;
                text-align: left;
                margin-bottom: 30px;
            }

            & .info-about-card__price {
                @include fontInfo(700);
                font-size: 24px;
                line-height: 31px;
                color: $secondary-color;
                text-align: left;
                margin-bottom: 30px;
            }
        }
    }

    .buttons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }
}

@media (min-width: 3000px) {
    .card {
        display: flex;
        justify-content: center;
        width: 86vw;
        height: 1000px;
        margin: 100px 0 50px 100px;
    
        &__info-about-card {
            margin-top: 32px;
            margin-left: 50px;
            display: flex;
            flex-direction: column;
    
            & .info-about-card__title {
                @include fontInfo(700);
                font-size: 90px;
                line-height: 130%;
                color: $secondary-color;
                text-align: left;
                margin-bottom: 20px;
            }
    
            & .info-about-card__subtitle {
                @include fontInfo(500);
                font-size: 18px;
                line-height: 180%;
                width: 1000px;
                color: $grey-color;
                text-align: left;
                margin-bottom: 270px;
            }
    
            & .info-about-card__price {
                @include fontInfo(700);
                font-size: 90px;
                line-height: 130%;
                color: $secondary-color;
                text-align: left;
                margin-bottom: 100px;
            }
        }
    }
}