@import "@styles/variables.scss";

.card {
    display: flex;
    justify-content: center;
    width: 86vw;
    height: 500px;
    margin: 80px 0 80px 80px;
    padding: 50px 0;

    & img {
        @include square(500px);
    }

    &__info-about-card {
        margin-top: 32px;
        margin-left: 30px;
        display: flex;
        flex-direction: column;

        &__title {
            @include font_info(700);
            font-size: 3vw;
            line-height: 130%;
            color: $secondary-color;
            text-align: left;
            margin-bottom: 20px;
        }

        &__subtitle {
            @include font_info(500);
            font-size: 18px;
            line-height: 180%;
            color: $grey-color;
            text-align: left;
            margin-bottom: 128px;
        }

        &__price {
            @include font_info(700);
            font-size: 44px;
            line-height: 130%;
            color: $secondary-color;
            text-align: left;
            margin-bottom: 50px;
        }
    }
}

.buttons {
    display: flex;
    gap: 20px;
}

@media (max-width: 800px) {
    .card {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 90vw;
        height: 600px;
        margin: 30px 20px;
        margin-right: 10px;

        & img {
            @include square(327px);
        }

        &__info-about-card {
            margin-top: 12px;
            margin-left: 20px;
            display: flex;
            flex-direction: column;

            &__title {
                @include font_info(700);
                font-size: 24px;
                line-height: 31px;
                color: $secondary-color;
                text-align: left;
                margin-bottom: 10px;
            }

            &__subtitle {
                @include font_info(500);
                font-size: 14px;
                line-height: 25px;
                color: $grey-color;
                text-align: left;
                margin-bottom: 60px;
            }

            &__price {
                @include font_info(700);
                font-size: 24px;
                line-height: 31px;
                color: $secondary-color;
                text-align: left;
                margin-bottom: 20px;
            }
        }
    }

    .buttons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }
}