@import "@styles/variables.scss";
@import "@styles/mixins.scss";

.header {
    display: flex;
    align-items: center;
    border-bottom: 2px solid #F3F3F3;
    height: 120px;
    width: 98vw;
    box-sizing: border-box;
    overflow: hidden;

    & .logo_and_name {
        @include fontInfo(700);
        font-size: 18px;
        line-height: 32px;
        color: $secondary-color;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px;
        gap: 12px;
        margin: 2vw 20vw 3vw 7vw;
    }

    & .navbar {
        @include fontInfo(700);
        font-size: 18px;
        line-height: 32px;
        color: $secondary-color;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        padding: 0px;
        gap: 4vw;
        height: 32px;
        width: 26vw;
        margin: 3vw 24vw 3vw 0px;

        &__nav {
            @include fontInfo(500);
            font-size: 18px;
            line-height: 32px;
            color: $secondary-color;
            text-decoration: none;
        }

        & .selected {
            @include fontInfo(500);
            font-size: 18px;
            line-height: 32px;
            color: $primary-color;
            text-decoration: none;
        }
    }

    & .trash_and_profile {
        @include fontInfo(700);
        font-size: 18px;
        line-height: 32px;
        color: $secondary-color;
        display: flex;
        justify-content: space-between;
        gap: 10px;

        & .trash {
            margin: 3vw 2vw 3vw 0px;
            display: flex;
            gap: 0;
            position: relative;

            & .cart-length {
                position: absolute;
                width: 20px;
                height: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                top: 15px;
                left: 10px;
                background-color: transparent;
                background: #F9F9F9;
                border-radius: 20px;
                @include fontInfo(700);
                font-size: 16px;
                line-height: 15px;
                color: $primary-color;
            }
        }

        & .profile {
            margin: 3vw 7vw 3vw 0px;
        }
    }
}

@media (max-width: 800px) {
    .header {
        position: relative;
        display: flex;
        align-items: center;
        flex-direction: column;
        border-bottom: 2px solid #F3F3F3;
        height: 200px;
        width: 100vw;
        box-sizing: border-box;

        & .logo_and_name {
            @include fontInfo(700);
            font-size: 18px;
            line-height: 32px;
            color: $secondary-color;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0px;
            gap: 12px;
            margin: 2vw 20vw 3vw 7vw;
        }

        & .navbar {
            @include fontInfo(700);
            font-size: 18px;
            line-height: 32px;
            color: $secondary-color;
            display: flex;
            align-items: flex-start;
            justify-content: center;
            padding: 0px;
            gap: 4vw;
            height: 32px;
            width: 26vw;
            margin: 3vw 0px 10px 0px;

            &__nav {
                @include fontInfo(500);
                font-size: 18px;
                line-height: 32px;
                color: $secondary-color;
            }

            & .selected {
                @include fontInfo(500);
                font-size: 18px;
                line-height: 32px;
                color: $primary-color;
                text-decoration: none;
            }
        }

        & .trash_and_profile {
            @include fontInfo(700);
            font-size: 18px;
            line-height: 32px;
            color: $secondary-color;
            display: flex;
            justify-content: space-between;
            gap: 10px;

            & .trash {
                margin: 3vw 2vw 3vw 0px;
            }

            & .profile {
                margin: 3vw 7vw 3vw 0px;
            }
        }
    }
}

.cart-selected div:first-child {
    width: 40px;
    height: 40px;
    box-shadow: $box-shadow;
    border-radius: 50%;
    border-color: $primary-color;
}