@import "@styles/style";

.products_list {
    display: flex;
    gap: 29px;
    margin-left: 100px;
    flex-wrap: wrap;
}

.title {
    margin-left: 100px;
    margin-bottom: 10px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 34px;
    letter-spacing: 0.01em;
    color: $secondary-color;
}

@media (max-width: 800px) {
    .products_list {
        display: flex;
        gap: 15px;
        margin-left: 24px;
        margin-right: 24px;
        flex-wrap: wrap;
    }

    .title {
        margin-left: 24px;
        margin-bottom: 10px;
        text-align: left;
        font-family: Arial, Helvetica, sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 23px;
        letter-spacing: 0.01em;
        color: $secondary-color;
    }
}