@import "@styles/style";

.card {
    display: flex;
    text-align: left;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    /* justify-content: flex-start; */
    gap: 26px;
    width: 394px;
    height: 600px;
    padding: 5px;
    bottom: 5px;
    cursor: pointer;
    margin-bottom: 20px;
    padding-bottom: 20px;

    &:hover {
        box-shadow: 0px 4px 20px rgba(175, 173, 181, 0.2);
    }

    & img {
        width: 394px;
        height: 345px;
        flex-grow: 0;
        flex: none;
        order: 0;
        flex-grow: 0;
        background-size: cover;
        object-fit: cover;
    }

    & .text_card {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 14px;
        width: 346px;
        height: 200px;
        flex: none;
        order: 1;
        flex-grow: 0;

        & .category {
            font-family: Arial, Helvetica, sans-serif;
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 23px;
            color: #AFADB5;
        }

        & .text_card_content {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 0px;
            gap: 18px;
            width: 346px;
            height: 170px;
            flex: none;
            order: 0;
            flex-grow: 0;

            & .content {
                font-family: Arial, Helvetica, sans-serif;
                font-style: normal;
                font-weight: 700;
                font-size: 24px;
                line-height: 31px;
                color: $secondary-color;
            }
        }
    }
}

.text_card_content_title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 6px;
    width: 346px;
    height: 130px;
    flex: none;
    order: 0;
    flex-grow: 0;

    & .title {
        width: 346px;
        height: 34px;
        font-family: Arial, Helvetica, sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 34px;
        letter-spacing: 0.01em;
        color: $secondary-color;
        flex: none;
        order: 0;
        flex-grow: 0;
    }

    & .subtitle {
        width: 346px;
        height: 60px;
        color: #AFADB5;
        font-family: Arial, Helvetica, sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 32px;
        flex: none;
        order: 1;
        flex-grow: 0;
    }
}

@media (max-width: 800px) {
    .card {
        display: flex;
        text-align: left;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        /* justify-content: flex-start; */
        gap: 15px;
        width: 160px;
        height: 320px;
        padding: 5px;
        bottom: 5px;
        cursor: pointer;
        margin-bottom: 10px;
        padding-bottom: 10px;
        margin-top: 0px;

        &:hover {
            box-shadow: 0px 4px 20px rgba(175, 173, 181, 0.2);
        }

        & img {
            width: 156px;
            height: 130px;
            flex-grow: 0;
            flex: none;
            order: 0;
            flex-grow: 0;
            background-size: cover;
            object-fit: cover;
        }

        & .text_card {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 0px;
            gap: 14px;
            width: 156px;
            height: 130px;
            flex: none;
            order: 1;
            flex-grow: 0;

            & .category {
                font-family: Arial, Helvetica, sans-serif;
                font-style: normal;
                font-weight: 700;
                font-size: 12px;
                line-height: 22px;
                color: #AFADB5;
            }

            & .text_card_content {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding: 0px;
                gap: 5px;
                width: 156px;
                height: 170px;
                flex: none;
                order: 0;
                flex-grow: 0;

                & .content {
                    font-family: Arial, Helvetica, sans-serif;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 18px;
                    color: $secondary-color;
                }
            }
        }
    }

    .text_card_content_title {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 6px;
        width: 156px;
        height: 130px;
        flex: none;
        order: 0;
        flex-grow: 0;

        & .title {
            width: 156px;
            height: 34px;
            font-family: Arial, Helvetica, sans-serif;
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 18px;
            letter-spacing: 0.01em;
            color: $secondary-color;
            flex: none;
            order: 0;
            flex-grow: 0;
        }

        & .subtitle {
            width: 156px;
            height: 60px;
            color: #AFADB5;
            font-family: Arial, Helvetica, sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 22px;
            flex: none;
            order: 1;
            flex-grow: 0;
        }
    }
}